@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.cabecalho {
    padding: 10px 5px;
    background: linear-gradient(to bottom, rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul {
    display: flex;
    font-weight: bolder;
    list-style-type: none;
}

ul li {
    padding: 15px 20px;
    margin: 5px;
    transition: ease-in-out 0.3s;
    color: #fff;
}

body {
    position: relative;
}

main {
    background-image: url(./scr/images/fiber-bg.jpg);
    background-position: center;
    background-size: contain;
    height: 500px;
    position: relative;
}

main p {
    padding: 10px;
}

.quem-somos {
    padding: 15px;
    text-align: center;
}

footer {
    background-color: aliceblue;
    text-align: center;
}

.onde-estamos {
    padding: 15px;
}

.localizacao {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(
    -50%,
    -50%)
}

h5 {
    font-size: 15px;
}

h3, p, h5 {
    color: #EADDFF;
    font-size: larger;
    font-weight: 700;
}

.imagem {
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.logo {
    border-radius: 50px;
    height: 80px;
}

.botoes {
    position: absolute;
    top: 20px;
    left: 43%;
}

li:hover {
    background-color: #625B71;
    color: #fff;
    border-radius: 5px;
}

.icone-whatsapp {
    width: 40px;
    height: 40px;
    position: fixed; 
    bottom: 0px; 
    right: 0px; 
    margin-bottom: 20px; 
    margin-right: 20px;
}

.icone-whatsapp:hover {
    transform: scale(1.2); /* Slight zoom on hover */
  }

.styled {
    width: 100px;
    display: block;
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: rgb(153, 153, 153);
    background-image: linear-gradient(to top left, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) 30%, rgba(0, 0, 0, 0));
    box-shadow:
      inset 2px 2px 3px rgba(255, 255, 255, 0.6),
      inset -2px -2px 3px rgba(0, 0, 0, 0.6);
  }
  
  .styled:hover {
    background-color: rgb(48, 48, 48);
  }
  
  .styled:active {
    box-shadow:
      inset -2px -2px 3px rgba(255, 255, 255, 0.6),
      inset 2px 2px 3px rgba(0, 0, 0, 0.6);
  }